@page
@model AppGoodFriendsRazor.Pages.Cities
@{
}

<div class="container px-4 py-4" id="friends-in-a-country">
    <h2 class="pb-2 border-bottom">Friends in @Model.SelectedCountry</h2>
    <p>Click on a city below to see my friends living in that city.</p>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4 py-5">
        @foreach (var city in Model.CitiesInfo)
        {
            <div class="col d-flex align-items-start">
                <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#backpack" />
                </svg>
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">@city.City</h3>
                    <p>@city.NrFriends friends and @city.NrPets pets.</p>
                    <a href="FriendsByCity?City=@city.City" class="btn btn-primary">
                        See friends
                    </a>
                </div>
            </div>
        }
    </div>
</div>
         
